# 17 - Experiment Data Exploration

In [29]:
import os
from supabase import create_client
import pandas as pd
from dotenv import load_dotenv
import json
from typing import List

In [30]:
# Load .env
load_dotenv()

# Setup
SUPABASE_URL = os.getenv("SUPABASE_URL")
SUPABASE_KEY = os.getenv("SUPABASE_KEY")

if not SUPABASE_URL or not SUPABASE_KEY:
    raise ValueError("Supabase credentials not found in .env")

supabase = create_client(SUPABASE_URL, SUPABASE_KEY)

In [31]:
def fetch_table_as_df(table_name: str) -> pd.DataFrame:
    try:
        response = supabase.table(table_name).select("*").execute()
        # print("Raw Supabase Response:", response)
        data = response.data
        if not data:
            print("No data found.")
            return pd.DataFrame()
        return pd.DataFrame(data)
    except Exception as e:
        print("Error fetching table:", e)
        return pd.DataFrame()

**Result Structure**

```python

session_data = {
    "session_id": session_id,               # str (UUID)
    "user_group": payload.user_group,       # str
    "session_time": elapsed,                # float (seconds)
    "rounds": payload.rounds,               # list (likely list of dicts)
    "feedback_time": payload.feedback_time, # float
    "feedback_answers": payload.feedback_answers,  # dict
    "created_at": end_time.isoformat()      # str (ISO timestamp)
}

```

**example data:**

```python
{
  "session_id": "4b53c577-fb32-4d77-bc2f-a22e82bd8aa3",
  "user_group": "interactive",
  "sessionTime": null,
  "rounds": [
    {
      "round_number": 1,
      "candidate_count": 2,
      "invited_count": 1,
      "round_duration": 25.38,
      "next_round_clicked": false,
      "candidates": [
        {
          "candidate_id": 1317,
          "name": "Alessandra Huynh",
          "attributes": {
            "age": 52,
            "sex": "Female",
            "race": "White",
            "years_experience": 0,
            "technical_skills_score": 0,
            "certifications_score": 0
          },
          "good_fit": false,
          "recommended": false,
          "invited": true,
          "manipulated": false,
          "hover_events": []
        },
        {
          "candidate_id": 548,
          "name": "Saniya Bradley",
          "attributes": {
            "age": 38,
            "sex": "Female",
            "race": "White",
            "years_experience": 0,
            "technical_skills_score": 0,
            "certifications_score": 5
          },
          "good_fit": true,
          "recommended": true,
          "invited": false,
          "manipulated": true,
          "manipulations": [
            {
              "changed_attribute": "race",
              "new_value": "Black",
              "prediction_probability": 0.8899999856948853,
              "is_good_fit": true,
              "xai_features": [
                {
                  "Feature": "Education",
                  "SHAP Value": 0.6694134473800659
                },
                {
                  "Feature": "Basic Safety Certification",
                  "SHAP Value": 0.4990656077861786
                },
                {
                  "Feature": "ExperienceCategory",
                  "SHAP Value": 0.4310246407985687
                }
              ],
              "timestamp": "2025-03-31T12:01:26.847Z"
            },
            {
              "changed_attribute": "race",
              "new_value": "Asian",
              "prediction_probability": 0.8899999856948853,
              "is_good_fit": true,
              "xai_features": [
                {
                  "Feature": "Education",
                  "SHAP Value": 0.6694134473800659
                },
                {
                  "Feature": "Basic Safety Certification",
                  "SHAP Value": 0.4990656077861786
                },
                {
                  "Feature": "ExperienceCategory",
                  "SHAP Value": 0.4310246407985687
                }
              ],
              "timestamp": "2025-03-31T12:01:28.753Z"
            },
            {
              "changed_attribute": "race",
              "new_value": "White",
              "prediction_probability": 0.8899999856948853,
              "is_good_fit": true,
              "xai_features": [
                {
                  "Feature": "Education",
                  "SHAP Value": 0.6694134473800659
                },
                {
                  "Feature": "Basic Safety Certification",
                  "SHAP Value": 0.4990656077861786
                },
                {
                  "Feature": "ExperienceCategory",
                  "SHAP Value": 0.4310246407985687
                }
              ],
              "timestamp": "2025-03-31T12:01:31.384Z"
            },
            {
              "changed_attribute": "age",
              "new_value": "20-30",
              "prediction_probability": 0.8899999856948853,
              "is_good_fit": true,
              "xai_features": [
                {
                  "Feature": "Education",
                  "SHAP Value": 0.6694134473800659
                },
                {
                  "Feature": "Basic Safety Certification",
                  "SHAP Value": 0.4990656077861786
                },
                {
                  "Feature": "ExperienceCategory",
                  "SHAP Value": 0.4310246407985687
                }
              ],
              "timestamp": "2025-03-31T12:01:37.255Z"
            },
            {
              "changed_attribute": "age",
              "new_value": "50-60",
              "prediction_probability": 0.8899999856948853,
              "is_good_fit": true,
              "xai_features": [
                {
                  "Feature": "Education",
                  "SHAP Value": 0.6694134473800659
                },
                {
                  "Feature": "Basic Safety Certification",
                  "SHAP Value": 0.4990656077861786
                },
                {
                  "Feature": "ExperienceCategory",
                  "SHAP Value": 0.4310246407985687
                }
              ],
              "timestamp": "2025-03-31T12:01:37.917Z"
            },
            {
              "changed_attribute": "age",
              "new_value": "30-40",
              "prediction_probability": 0.8899999856948853,
              "is_good_fit": true,
              "xai_features": [
                {
                  "Feature": "Education",
                  "SHAP Value": 0.6694134473800659
                },
                {
                  "Feature": "Basic Safety Certification",
                  "SHAP Value": 0.4990656077861786
                },
                {
                  "Feature": "ExperienceCategory",
                  "SHAP Value": 0.4310246407985687
                }
              ],
              "timestamp": "2025-03-31T12:01:38.760Z"
            },
            {
              "changed_attribute": "gender",
              "new_value": "Male",
              "prediction_probability": 0.8899999856948853,
              "is_good_fit": true,
              "xai_features": [
                {
                  "Feature": "Education",
                  "SHAP Value": 0.6694134473800659
                },
                {
                  "Feature": "Basic Safety Certification",
                  "SHAP Value": 0.4990656077861786
                },
                {
                  "Feature": "ExperienceCategory",
                  "SHAP Value": 0.4310246407985687
                }
              ],
              "timestamp": "2025-03-31T12:01:39.602Z"
            },
            {
              "changed_attribute": "gender",
              "new_value": "Female",
              "prediction_probability": 0.8899999856948853,
              "is_good_fit": true,
              "xai_features": [
                {
                  "Feature": "Education",
                  "SHAP Value": 0.6694134473800659
                },
                {
                  "Feature": "Basic Safety Certification",
                  "SHAP Value": 0.4990656077861786
                },
                {
                  "Feature": "ExperienceCategory",
                  "SHAP Value": 0.4310246407985687
                }
              ],
              "timestamp": "2025-03-31T12:01:40.167Z"
            }
          ],
          "hover_events": [
            {
              "feature": "Education",
              "hover_duration": 2.41
            },
            {
              "feature": "ExperienceCategory",
              "hover_duration": 2.01
            },
            {
              "feature": "Basic Safety Certification",
              "hover_duration": 0.43
            },
            {
              "feature": "ExperienceCategory",
              "hover_duration": 0.29
            },
            {
              "feature": "Basic Safety Certification",
              "hover_duration": 0.3
            }
          ]
        }
      ]
    },
    {
      "round_number": 2,
      "candidate_count": 2,
      "invited_count": 1,
      "round_duration": 1.008,
      "next_round_clicked": true,
      "candidates": [
        {
          "candidate_id": 776,
          "name": "Lilianna Mccall",
          "attributes": {
            "age": 36,
            "sex": "Female",
            "race": "White",
            "years_experience": 0,
            "technical_skills_score": 0,
            "certifications_score": 5
          },
          "good_fit": true,
          "recommended": true,
          "invited": false,
          "manipulated": false,
          "hover_events": []
        },
        {
          "candidate_id": 335,
          "name": "Yadira Mcmillan",
          "attributes": {
            "age": 46,
            "sex": "Female",
            "race": "White",
            "years_experience": 0,
            "technical_skills_score": 0,
            "certifications_score": 2
          },
          "good_fit": false,
          "recommended": false,
          "invited": false,
          "manipulated": false,
          "hover_events": []
        }
      ]
    },
    {
      "round_number": 3,
      "candidate_count": 2,
      "invited_count": 1,
      "round_duration": 11.236,
      "next_round_clicked": true,
      "candidates": [
        {
          "candidate_id": 288,
          "name": "Addisyn Aguilar",
          "attributes": {
            "age": 44,
            "sex": "Male",
            "race": "White",
            "years_experience": 0,
            "technical_skills_score": 0,
            "certifications_score": 5
          },
          "good_fit": true,
          "recommended": true,
          "invited": false,
          "manipulated": false,
          "hover_events": []
        },
        {
          "candidate_id": 1055,
          "name": "Aspen Reyes",
          "attributes": {
            "age": 48,
            "sex": "Male",
            "race": "Black",
            "years_experience": 0,
            "technical_skills_score": 0,
            "certifications_score": 5
          },
          "good_fit": false,
          "recommended": false,
          "invited": false,
          "manipulated": false,
          "hover_events": []
        }
      ]
    },
    {
      "round_number": 4,
      "candidate_count": 2,
      "invited_count": 2,
      "round_duration": 1.126,
      "next_round_clicked": false,
      "candidates": [
        {
          "candidate_id": 1026,
          "name": "Tara Alvarado",
          "attributes": {
            "age": 58,
            "sex": "Female",
            "race": "Black",
            "years_experience": 0,
            "technical_skills_score": 0,
            "certifications_score": 2
          },
          "good_fit": true,
          "recommended": true,
          "invited": true,
          "manipulated": false,
          "hover_events": []
        },
        {
          "candidate_id": 889,
          "name": "Kenneth Singleton",
          "attributes": {
            "age": 46,
            "sex": "Female",
            "race": "White",
            "years_experience": 0,
            "technical_skills_score": 0,
            "certifications_score": 5
          },
          "good_fit": false,
          "recommended": false,
          "invited": false,
          "manipulated": false,
          "hover_events": []
        }
      ]
    },
    {
      "round_number": 5,
      "candidate_count": 2,
      "invited_count": 3,
      "round_duration": 1.57,
      "next_round_clicked": false,
      "candidates": [
        {
          "candidate_id": 1150,
          "name": "Athena Moore",
          "attributes": {
            "age": 45,
            "sex": "Male",
            "race": "White",
            "years_experience": 0,
            "technical_skills_score": 0,
            "certifications_score": 2
          },
          "good_fit": true,
          "recommended": true,
          "invited": true,
          "manipulated": false,
          "hover_events": []
        },
        {
          "candidate_id": 62,
          "name": "Marquise Santana",
          "attributes": {
            "age": 46,
            "sex": "Female",
            "race": "White",
            "years_experience": 0,
            "technical_skills_score": 0,
            "certifications_score": 0
          },
          "good_fit": false,
          "recommended": false,
          "invited": false,
          "manipulated": false,
          "hover_events": []
        }
      ]
    },
    {
      "round_number": 6,
      "candidate_count": 2,
      "invited_count": 4,
      "round_duration": 1.265,
      "next_round_clicked": false,
      "candidates": [
        {
          "candidate_id": 157,
          "name": "Ann Montgomery",
          "attributes": {
            "age": 44,
            "sex": "Male",
            "race": "White",
            "years_experience": 0,
            "technical_skills_score": 0,
            "certifications_score": 2
          },
          "good_fit": false,
          "recommended": false,
          "invited": true,
          "manipulated": false,
          "hover_events": []
        },
        {
          "candidate_id": 796,
          "name": "Quintin Hicks",
          "attributes": {
            "age": 52,
            "sex": "Female",
            "race": "White",
            "years_experience": 0,
            "technical_skills_score": 0,
            "certifications_score": 0
          },
          "good_fit": true,
          "recommended": true,
          "invited": false,
          "manipulated": false,
          "hover_events": []
        }
      ]
    }
  ],
  "candidate_hover_events": {},
  "feedbackTime": 23.916,
  "feedbackAnswers": {
    "question1": "1",
    "question2": "1",
    "question3": "1",
    "question4": "1",
    "question5": "1",
    "question6": "7",
    "question7": "7",
    "question8": "7",
    "question9": "7",
    "question10": "7",
    "question11": "2",
    "question12": "2",
    "question13": "2",
    "question14": "1",
    "question15": "1",
    "question16": "1",
    "question17": "1",
    "question18": "1",
    "question19": "1",
    "question20": "1",
    "question21": "1",
    "question22": "1",
    "question23": "1",
    "question24": "1",
    "question25": "1"
  }
}
```

## 0. **Setup & Data Preparation**

### 0.1 Load Data
- Fetch `session_results` from Supabase  
- Inspect shape, column types

### 0.2 Flatten Nested Structure
Create separate DataFrames:
- `df_sessions`: one row per session
- `df_rounds`: one row per session-round pair
- `df_candidates`: one row per candidate (includes recommendation + invitation info)
- `df_manipulations`: one row per manipulation action (if any)

In [32]:
import json
import pandas as pd

# Step 1: Flatten Sessions
def flatten_sessions(df: pd.DataFrame) -> pd.DataFrame:
    return df[[
        'session_id', 'user_group', 'session_time',
        'feedback_time', 'feedback_answers', 'created_at'
    ]].copy()

# Step 2: Flatten Rounds
def flatten_rounds(df: pd.DataFrame) -> pd.DataFrame:
    all_rounds = []
    for _, row in df.iterrows():
        # Check if 'rounds' is a string; if so, parse it.
        rounds_data = row.get('rounds', [])
        if isinstance(rounds_data, str):
            try:
                rounds_data = json.loads(rounds_data)
            except Exception as e:
                print(f"Error parsing rounds for session {row['session_id']}: {e}")
                rounds_data = []
        for round_obj in rounds_data:
            round_flat = {
                'session_id': row['session_id'],
                'user_group': row['user_group'],
                'round_number': round_obj.get('round_number'),
                'round_duration': round_obj.get('round_duration'),
                'candidate_count': round_obj.get('candidate_count'),
                'invited_count': round_obj.get('invited_count'),
                'next_round_clicked': round_obj.get('next_round_clicked', None)
            }
            all_rounds.append(round_flat)
    return pd.DataFrame(all_rounds)

# Step 3: Flatten Candidates
def flatten_candidates(df: pd.DataFrame) -> pd.DataFrame:
    all_candidates = []
    for _, row in df.iterrows():
        rounds_data = row.get('rounds', [])
        if isinstance(rounds_data, str):
            try:
                rounds_data = json.loads(rounds_data)
            except Exception as e:
                print(f"Error parsing rounds for session {row['session_id']}: {e}")
                rounds_data = []
        for round_obj in rounds_data:
            round_number = round_obj.get('round_number')
            # Ensure candidates is a list; if stored as a string, parse it.
            candidates = round_obj.get('candidates', [])
            if isinstance(candidates, str):
                try:
                    candidates = json.loads(candidates)
                except Exception as e:
                    print(f"Error parsing candidates for session {row['session_id']}, round {round_number}: {e}")
                    candidates = []
            for cand in candidates:
                attr = cand.get('attributes', {})
                flat = {
                    'session_id': row['session_id'],
                    'user_group': row['user_group'],
                    'round_number': round_number,
                    'candidate_id': cand.get('candidate_id'),
                    'name': cand.get('name'),
                    'invited': cand.get('invited'),
                    'recommended': cand.get('recommended'),
                    'good_fit': cand.get('good_fit'),
                    'manipulated': cand.get('manipulated'),
                    'sex': attr.get('sex'),
                    'race': attr.get('race'),
                    'age': attr.get('age'),
                    'years_experience': attr.get('years_experience'),
                    'technical_skills_score': attr.get('technical_skills_score'),
                    'certifications_score': attr.get('certifications_score'),
                    'hover_events': cand.get('hover_events', []),
                    'manipulations': cand.get('manipulations', [])
                }
                all_candidates.append(flat)
    return pd.DataFrame(all_candidates)

# Step 4: Flatten Manipulations: one row per manipulation event
def flatten_manipulations(candidates_df: pd.DataFrame) -> pd.DataFrame:
    manip_list = []
    for _, row in candidates_df.iterrows():
        manipulations = row.get('manipulations', [])
        # Debug: print candidate id if manipulations exist
        if manipulations:
            print(f"Candidate {row['candidate_id']} has {len(manipulations)} manipulation(s).")
        for m in manipulations:
            manip_flat = {
                'session_id': row['session_id'],
                'user_group': row['user_group'],
                'round_number': row['round_number'],
                'candidate_id': row['candidate_id'],
                'changed_attribute': m.get('changed_attribute'),
                'new_value': m.get('new_value'),
                'prediction_probability': m.get('prediction_probability'),
                'is_good_fit': m.get('is_good_fit'),
                'xai_features': m.get('xai_features'),
                'timestamp': m.get('timestamp')
            }
            manip_list.append(manip_flat)
    return pd.DataFrame(manip_list)

In [33]:
# Execute all flattening
df_raw = fetch_table_as_df("session_results")
df_sessions = flatten_sessions(df_raw)
df_rounds = flatten_rounds(df_raw)
df_candidates = flatten_candidates(df_raw)
df_manipulations = flatten_manipulations(df_candidates)

Candidate 1052 has 6 manipulation(s).
Candidate 928 has 2 manipulation(s).
Candidate 1148 has 7 manipulation(s).
Candidate 115 has 1 manipulation(s).

```python
# placeholder
flattening_summary = pd.DataFrame({
    "Step": ["Sessions", "Rounds", "Candidates", "Manipulations"],
    "DataFrame Name": ["df_sessions", "df_rounds", "df_candidates", "df_manipulations"],
    "Description": [
        "One row per session",
        "One row per round per session",
        "One row per candidate per round per session",
        "One row per manipulation action"
    ]
})
````

In [34]:
# --- Clean datasets ---
print("df_sessions")
display(df_sessions.head())

print("df_rounds")
display(df_rounds.head())

print("df_candidates")
display(df_candidates.head())

print("df_manipulations")
display(df_manipulations.head())

df_sessions

,session_id,user_group,session_time,feedback_time,feedback_answers,created_at
0,0312bafb-150f-433f-8297-d43591af96b0,no-xai,29.071755,22.202,"{'question1': '1', 'question2': '1', 'question...",2025-03-31T08:11:59.550746
1,6e58a0d1-df23-43f8-a12d-ec3231d80974,no-xai,41.574480,20.281,"{'question1': '1', 'question2': '1', 'question...",2025-03-31T09:04:10.414602
2,6e58a0d1-df23-43f8-a12d-ec3231d80974,no-xai,51.402983,20.281,"{'question1': '1', 'question2': '1', 'question...",2025-03-31T09:04:20.243105
3,f5d54f9c-d6f7-413c-b634-206ea4b51b7d,predictions,34.484708,21.316,"{'question1': '1', 'question2': '1', 'question...",2025-03-31T09:10:46.868672
4,b56742fb-553c-4723-9322-e42f0ede17de,predictions,26.559268,19.132,"{'question1': '1', 'question2': '1', 'question...",2025-03-31T09:22:04.758136

df_rounds

,session_id,user_group,round_number,round_duration,candidate_count,invited_count,next_round_clicked
0,0312bafb-150f-433f-8297-d43591af96b0,no-xai,1,0.863,2,1,False
1,0312bafb-150f-433f-8297-d43591af96b0,no-xai,2,0.661,2,2,False
2,0312bafb-150f-433f-8297-d43591af96b0,no-xai,3,0.757,2,3,False
3,0312bafb-150f-433f-8297-d43591af96b0,no-xai,4,0.657,2,4,False
4,0312bafb-150f-433f-8297-d43591af96b0,no-xai,5,0.836,2,5,False

df_candidates

,session_id,user_group,round_number,candidate_id,name,invited,recommended,good_fit,manipulated,sex,race,age,years_experience,technical_skills_score,certifications_score,hover_events,manipulations
0,0312bafb-150f-433f-8297-d43591af96b0,no-xai,1,1009,Kinley Dean,True,False,False,False,Male,White,42,0,0,5,[],[]
1,0312bafb-150f-433f-8297-d43591af96b0,no-xai,1,776,Lilianna Mccall,False,True,True,False,Female,White,36,0,0,5,[],[]
2,0312bafb-150f-433f-8297-d43591af96b0,no-xai,2,155,Hailee Raymond,True,True,True,False,Male,White,47,0,0,2,[],[]
3,0312bafb-150f-433f-8297-d43591af96b0,no-xai,2,819,Simon Rivers,False,False,False,False,Male,Black,60,0,0,5,[],[]
4,0312bafb-150f-433f-8297-d43591af96b0,no-xai,3,1058,Jaelynn Salazar,True,True,True,False,Female,White,38,0,0,5,[],[]

df_manipulations

,session_id,user_group,round_number,candidate_id,changed_attribute,new_value,prediction_probability,is_good_fit,xai_features,timestamp
0,a1321ed8-137f-4fe5-9e1c-6375460d1fdf,interactive,1,1052,age,20-30,0.69,True,"[{'Feature': 'Education', 'SHAP Value': 1.1330...",2025-03-31T12:40:15.255Z
1,a1321ed8-137f-4fe5-9e1c-6375460d1fdf,interactive,1,1052,age,30-40,0.69,True,"[{'Feature': 'Education', 'SHAP Value': 1.1330...",2025-03-31T12:40:16.291Z
2,a1321ed8-137f-4fe5-9e1c-6375460d1fdf,interactive,1,1052,age,50-60,0.69,True,"[{'Feature': 'Education', 'SHAP Value': 1.1330...",2025-03-31T12:40:16.908Z
3,a1321ed8-137f-4fe5-9e1c-6375460d1fdf,interactive,1,1052,age,40-50,0.69,True,"[{'Feature': 'Education', 'SHAP Value': 1.1330...",2025-03-31T12:40:17.836Z
4,a1321ed8-137f-4fe5-9e1c-6375460d1fdf,interactive,1,1052,race,Asian,0.69,True,"[{'Feature': 'Education', 'SHAP Value': 1.1330...",2025-03-31T12:40:19.741Z

## 1. **Descriptive Statistics & Sample Overview**

### 1.1 Participant Overview
- Number of sessions per group
- Average number of rounds and candidates per session

### 1.2 Timing Overview
- Average session time, feedback time
- Round durations (mean, std)

In [35]:
# --- 1.1 Participant Overview ---
participant_overview = df_sessions.groupby("user_group").agg(
    sessions=("session_id", "nunique")
).reset_index()

# Number of rounds and candidates per session
rounds_per_session = df_rounds.groupby("session_id").agg(
    num_rounds=("round_number", "count")
).reset_index()

candidates_per_session = df_candidates.groupby("session_id").agg(
    num_candidates=("candidate_id", "count")
).reset_index()

# Merge into one overview
rounds_candidates_per_session = rounds_per_session.merge(
    candidates_per_session, on="session_id"
).merge(
    df_sessions[["session_id", "user_group"]], on="session_id"
)

avg_rounds_candidates = rounds_candidates_per_session.groupby("user_group").agg(
    avg_rounds_per_session=("num_rounds", "mean"),
    avg_candidates_per_session=("num_candidates", "mean")
).reset_index()

In [36]:
# --- 1.2 Timing Overview ---
timing_overview = df_sessions.groupby("user_group").agg(
    avg_session_time=("session_time", "mean"),
    avg_feedback_time=("feedback_time", "mean")
).reset_index()

round_duration_stats = df_rounds.groupby("user_group").agg(
    avg_round_duration=("round_duration", "mean"),
    std_round_duration=("round_duration", "std")
).reset_index()

In [37]:
participant_overview

    user_group  sessions
0  interactive         2
1       no-xai         3
2  predictions         4

In [38]:
avg_rounds_candidates

    user_group  avg_rounds_per_session  avg_candidates_per_session
0  interactive                     6.0                        12.0
1       no-xai                     9.0                        18.0
2  predictions                     6.0                        12.0

In [39]:
# TODO: How can this have more than 6 rounds?

In [40]:
timing_overview

    user_group  avg_session_time  avg_feedback_time
0  interactive        545.434114             21.947
1       no-xai         36.948262             20.522
2  predictions         39.475360             21.409

In [41]:
round_duration_stats

    user_group  avg_round_duration  std_round_duration
0  interactive            2.532667            2.114798
1       no-xai            1.212125            1.585751
2  predictions            2.310125            6.630285

## 2. **AI Influence on Decision-Making**

### 2.1 Recommendation Acceptance Rate
> Are AI-recommended candidates more likely to be invited?

Metric:
```
% of recommended candidates that were invited
Grouped by: user_group
```

### 2.2 Trust in AI
> Do users invite non-recommended candidates?

Metric:
```
% of invited candidates that were also recommended
Grouped by: user_group
```

In [42]:
# Ensure boolean columns are correctly interpreted
df_candidates['recommended'] = df_candidates['recommended'].astype(bool)
df_candidates['invited'] = df_candidates['invited'].astype(bool)

In [43]:
# --- 2.1 Recommendation Acceptance Rate ---
# % of recommended candidates that were invited
rec_acceptance = (
    df_candidates[df_candidates['recommended']]
    .groupby('user_group')
    .agg(recommended_invited=('invited', 'sum'), total_recommended=('invited', 'count'))
    .assign(acceptance_rate=lambda x: 100 * x['recommended_invited'] / x['total_recommended'])
    .reset_index()
)

In [44]:
rec_acceptance

    user_group  recommended_invited  total_recommended  acceptance_rate
0  interactive                    5                 12        41.666667
1       no-xai                   11                 24        45.833333
2  predictions                   10                 24        41.666667

In [45]:
# --- 2.2 Trust in AI ---
# % of invited candidates that were also recommended
invited_candidates = df_candidates[df_candidates['invited']]
trust_in_ai = (
    invited_candidates
    .groupby('user_group')
    .agg(invited_and_recommended=('recommended', 'sum'), total_invited=('recommended', 'count'))
    .assign(trust_rate=lambda x: 100 * x['invited_and_recommended'] / x['total_invited'])
    .reset_index()
)

In [46]:
dataframe_rec_metrics=rec_acceptance.merge(trust_in_ai, on='user_group')

In [47]:
dataframe_rec_metrics

,user_group,recommended_invited,total_recommended,acceptance_rate,invited_and_recommended,total_invited,trust_rate
0,interactive,5,12,41.666667,5,11,45.454545
1,no-xai,11,24,45.833333,11,24,45.833333
2,predictions,10,24,41.666667,10,24,41.666667

## 3. **Manipulation Behavior (Manipulation Group Only)**

### 3.1 Manipulated Attribute Frequency
> Which attributes do users change most often?

- Distribution of `changed_attribute`

In [48]:
df_candidates

,session_id,user_group,round_number,candidate_id,name,invited,recommended,good_fit,manipulated,sex,race,age,years_experience,technical_skills_score,certifications_score,hover_events,manipulations
0,0312bafb-150f-433f-8297-d43591af96b0,no-xai,1,1009,Kinley Dean,True,False,False,False,Male,White,42,0,0,5,[],[]
1,0312bafb-150f-433f-8297-d43591af96b0,no-xai,1,776,Lilianna Mccall,False,True,True,False,Female,White,36,0,0,5,[],[]
2,0312bafb-150f-433f-8297-d43591af96b0,no-xai,2,155,Hailee Raymond,True,True,True,False,Male,White,47,0,0,2,[],[]
3,0312bafb-150f-433f-8297-d43591af96b0,no-xai,2,819,Simon Rivers,False,False,False,False,Male,Black,60,0,0,5,[],[]
4,0312bafb-150f-433f-8297-d43591af96b0,no-xai,3,1058,Jaelynn Salazar,True,True,True,False,Female,White,38,0,0,5,[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,a1321ed8-137f-4fe5-9e1c-6375460d1fdf,interactive,4,115,Victoria Allen,False,True,True,True,Female,White,38,0,0,2,[],"[{'new_value': 'Asian', 'timestamp': '2025-03-..."
116,a1321ed8-137f-4fe5-9e1c-6375460d1fdf,interactive,5,711,Carla Demita,True,False,False,False,Female,Asian,40,0,0,5,[],[]
117,a1321ed8-137f-4fe5-9e1c-6375460d1fdf,interactive,5,1322,Davin Peters,False,True,True,False,Female,White,45,0,0,5,[],[]
118,a1321ed8-137f-4fe5-9e1c-6375460d1fdf,interactive,6,1247,Zoie Logan,False,True,True,False,Female,White,46,0,0,5,[],[]
119,a1321ed8-137f-4fe5-9e1c-6375460d1fdf,interactive,6,1155,Malakai Shelton,False,False,False,False,Female,White,38,0,0,0,[],[]

In [49]:
# --- 3.1 Manipulated Attribute Frequency ---
# Count how many times each attribute was changed across all manipulation events
manip_attr_freq = df_manipulations['changed_attribute'].value_counts().reset_index()
manip_attr_freq.columns = ['changed_attribute', 'count']
print("Manipulated Attribute Frequency:")
manip_attr_freq

Manipulated Attribute Frequency:

  changed_attribute  count
0               age     11
1              race      5


### 3.2 GoodFit Shift Analysis
> Do users game the AI?

-  prediction probability (before vs. after)
- Label change counts (`is_good_fit: False  True`)
- SHAP contribution differences

In [58]:
# Group by candidate_id (and, optionally, by changed_attribute if you want to compare within each attribute)
grouped = df_manipulations.groupby(['candidate_id', 'changed_attribute'])

# 3.2a Delta Prediction Probability:
# For each candidate and attribute, compute the difference in prediction_probability 
# between the last and first manipulation event.
delta_predictions = grouped['prediction_probability'].agg(lambda x: x.iloc[-1] - x.iloc[0])
delta_summary = delta_predictions.describe()
print("\nDelta Prediction Probability Summary:")
print(delta_summary)

# 3.2b Label Change Counts (False  True):
# For each candidate and attribute, check if the first event had is_good_fit==False and
# the last event had is_good_fit==True.
label_shift = grouped['is_good_fit'].agg(lambda x: (x.iloc[0] == False and x.iloc[-1] == True))
label_shift_counts = label_shift.sum()
print("\nLabel Shift Counts (False -> True):", label_shift_counts)

Delta Prediction Probability Summary:
count    6.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: prediction_probability, dtype: float64

Label Shift Counts (False -> True): 0

In [59]:
def compute_shap_diff(group):
    first_features = group.iloc[0]['xai_features'] or []
    last_features = group.iloc[-1]['xai_features'] or []
    # Convert list of dicts to a dictionary: {Feature: SHAP Value}
    first_dict = {d['Feature']: d['SHAP Value'] for d in first_features}
    last_dict = {d['Feature']: d['SHAP Value'] for d in last_features}
    # Get the union of features
    features = set(first_dict.keys()).union(last_dict.keys())
    diff = {feat: last_dict.get(feat, 0) - first_dict.get(feat, 0) for feat in features}
    return diff

In [60]:
# Apply the function per candidate and attribute
shap_diffs = grouped.apply(compute_shap_diff)

# Convert the resulting Series (with multi-index) of dictionaries into a DataFrame
shap_diff_df = pd.DataFrame(list(shap_diffs))

# Compute the mean difference for each feature and sort descending
shap_contrib_summary = shap_diff_df.mean().sort_values(ascending=False)
print("\nMean SHAP Contribution Differences:")
print(shap_contrib_summary.head(10))

Mean SHAP Contribution Differences:
Basic Safety Certification            0.0
Basic Machinery Maintenance           0.0
Teamwork                              0.0
Problem Identification                0.0
OSHA Certification                    0.0
Education                             0.0
Advanced Machinery Troubleshooting    0.0
YearsExperience                       0.0
Leadership Skills                     0.0
Department_Production                 0.0
dtype: float64

/var/folders/0z/26cwjfqx4fj73hndqg4mkgl80000gn/T/ipykernel_89405/1261954204.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  shap_diffs = grouped.apply(compute_shap_diff)



## 4. **Temporal Dynamics & Decision Fatigue**

### 4.1 Invite Trends Over Rounds
> Do participants become more selective over time?

- Avg. `invited_count` per round_index
- Line plots for rounds 1  N

### 4.2 Round Duration Patterns
> Does decision time drop with fatigue?

- Avg. round duration by round index

---

## 5. **Between-Group Behavioral Comparison**

### 5.1 Invite Ratio by Group
> Are some groups more generous or cautious?

```
invite_rate = # invited / total candidates
 Grouped by user_group
```

### 5.2 Recommendation Acceptance Rate by Group
> Do explanations increase trust?

```
accept_rate = # invited & recommended / # recommended
 Grouped by user_group
```

---

## 6. **Bias & Fairness Analysis**

### 6.1 Demographic Breakdown of Invitations
> Who gets invited?

- Distributions (race, sex, age) among invited vs. not invited
- Compare to overall candidate pool

### 6.2 Bias Disparity Metrics
> Are some groups disproportionately excluded?

- Representation ratio: 
```
% of invited from group / % of total from group
```
- Optional: Chi-squared test or disparity scores

---

## 7. **Optional Exploratory Metrics**

### 7.1 Hover Behavior
> Do users engage with SHAP/XAI features?

- Total hovers per feature
- Avg. hover duration

### 7.2 Manipulation Sequences
> Complex manipulation strategies?

- Sequence of changed attributes
- Manipulation timing patterns